* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

/* global */
h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    font-family: 'Unbounded', cursive;
    text-align: center;
    color: #fff;
}

h2 {
    font-size: 29px;
    font-weight: 700;
    line-height: 40.6px;
    font-family: 'Unbounded', cursive;
    color: #fff;
    padding-bottom: 15px;
}

p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;

}

a {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

:root {
    --cs-primary: #0D071A;

}

.c-60 {
    padding: 60px 15px;
}

body {
    background-color: var(--cs-primary);
    border-left: 10px solid #522c9d;
    border-right: 10px solid #7b54ce;
    overflow-x: hidden;
}

.btn:hover {
    color: #fff;
}

/* global ends */


/* header starts */
.header {
    background: rgb(82, 44, 157);
    background: linear-gradient(90deg, rgba(82, 44, 157, 1) 0%, rgba(124, 84, 206, 1) 100%);
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;

}

.header_logo {}

.header_logo img {}

.btn-taunt {
    background-color: var(--cs-primary);
    color: #fff;
    padding: 0;
    padding: 12px 24px;
    border-radius: 50px;
}

/* header ends */

/* hero starts */
.hero {

    border-left: 5px solid #522c9d;
    border-right: 5px solid #7b54ce;

    border-radius: 25px 25px 0px 0px;
}


.hero h1 {
    width: 55%;
    margin: auto;
    padding-bottom: 60px;
}

.carousel {}

.owl-dots {
    display: none;
}

.carousel img {
    padding: 7px;
}

.block::before {
    position: absolute;
    content: '';
    width: 59px;
    height: 80px;
    background-color: #522c9d;
    clip-path: polygon(25% 25%, 75% 25%, 41.13% 41.13%, 25% 75%);
    top: 66px;
    left: -8px;
}

.block::after {
    position: absolute;
    content: '';
    width: 26px;
    height: 31px;
    background-color: #7b54ce;
    clip-path: polygon(0% 0%, 100% 0%, 40.75% 40.75%, 0% 100%);
    top: 86px;
    right: 8px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    transform: rotate(99deg);
}

/* hero_ends */

/* eco bank starts */
.ecobank{
    border-left: 5px solid #522c9d;
    border-right: 5px solid #7b54ce;

}
.ecobank_image {
    text-align: center;
}

/* eco bank ends */

.ambassador{
    border-left: 5px solid #522c9d;
    border-right: 5px solid #7b54ce;

}

.audiance{   border-left: 5px solid #522c9d;
    border-right: 5px solid #7b54ce;
}

.earning{
    border-left: 5px solid #522c9d;
    border-right: 5px solid #7b54ce;

}

/* cta starts */
.cta{
    border-left: 5px solid #522c9d;
    border-right: 5px solid #7b54ce;
}

.cta_content {
   background: rgba(233, 207, 254, 0.04);
    border: 2px solid #C6A8EE;
    backdrop-filter: blur(25.5px);
    padding: 100px;
    border-radius: 200px;
    width: 75%;
    margin: auto;
}

.cta_content h2 {
    text-align: center;
    padding-bottom: 30px;
}

.cta_button {
    text-align: center;
}

.btn-cta {
    background-color: #fff;
    color: #000;
    padding: 0;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 700;
}

/* cta ends */

/* footer tsarts */
.footer {
    background: rgb(82, 44, 157);
    background: linear-gradient(90deg, rgba(82, 44, 157, 1) 0%, rgba(124, 84, 206, 1) 100%);
}

.footer_logo {
    padding: 40px 0px;
    text-align: center;
}